.centerText{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.inputList{
    margin: 0 auto;
    width: 300px;
}
.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}
.example-enter.example-enter-active {
    opacity: 1;
}
.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}
.example-leave.example-leave-active {
    opacity: 0.01;
}