.centerText{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.inputList{
    margin: 0 auto;
    max-width: 300px;
}
.required{
    background: #CC0000;
}
.fadeIn-enter {
    opacity: 0.01;
}
.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fadeIn-appear {
    opacity: 0.01;
}
.fadeIn-appear.fadeIn-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
